---
import type { Client } from '../../types';
import ClientDetails from "../../components/ClientDetails";

const {id} = Astro.params;

const response = await fetch(
    `${import.meta.env.PUBLIC_BASE_URL}/clients/${id}`
);

const responseBundles= await fetch(`${import.meta.env.PUBLIC_BASE_URL}/clients/${id}/bundles`);
const responseAllBundles= await fetch(`${import.meta.env.PUBLIC_BASE_URL}/bundles/all`);
const responseNewBundles = await fetch(`${import.meta.env.PUBLIC_BASE_URL}/clients/${id}/bundles/new`);
const responseAllPackages = await fetch(`${import.meta.env.PUBLIC_BASE_URL}/packages/all`);
const bundles = await responseBundles.json();
const allBundles = await responseAllBundles.json()
const newBundles = await responseNewBundles.json()
const allPackages = await responseAllPackages.json()
const client: Client = await response.json();
---

<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            body {
                overflow: hidden;
            }
        </style>
	</head>
	<body >
        <ClientDetails client:load client={client} allPackages={allPackages} bundles={bundles} allBundles={allBundles} newBundles={newBundles}/>
	</body>
</html>
